
.badge-purple{
    color: #fff;
    background-color: #b77bc7;
}

.badge-brown{
    color: #fff;
    background-color: #ab9842;
}

.badge-silver{
    color: #fff;
    background-color: #a4acaf;
}

.badge-pink{
    color: #fff;
    background-color: #f366b9
}

.card-footer{
    font-size: 20px;    
}